/* *****************************************************************
**************************VERSION MOBILE****************************      			
***************************************************************** */

/* *****************************************************************
 PAGE 404
***************************************************************** */

.not_found_p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-muted);
}

.not_found_p h3 {
    margin: 0;
}

.not_found_p,
.not_found_p article {
    margin-bottom: 48px;
    margin-top: 48px;
}

.not_found_container {
    position: relative;
    width: 300px;
    height: 230px;
    border: 1px solid var(--color-secondary);
    background-image: url("http://localhost:3000/img/logo/logo.svg");
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-muted);
}

.not_found_path {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: var(--color-secondary);
    animation: move 12s linear infinite;
    place-items: center;
    border-radius: 20px;
}

.not_found_xywh-path {
    offset-path: xywh(0 0 100% 100% round 10px);
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}