/* *****************************************************************
**************************VERSION MOBILE****************************      			
***************************************************************** */

/* *****************************************************************
COACHINGS
***************************************************************** */

.coaching {
    text-align: center;
}

.nav_access_services {
    color: var(--color-primary);
    margin-bottom: 40px;
    display: inline-block;
    text-align: left;
}

.nav_access_services a {
    color: var(--color-secondary);
}



.coachings p:first-child {
    font-weight: bold;
}


.back {
    background-image: url("http://localhost:3000/img/banner/banner_2.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 32px;
    margin-top: 32px;
    max-width: 100%;
    margin-bottom: 80px;
}

.back>p {
    font-size: 24px;
    color: var(--color-muted);
    text-align: center;
}

.card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 49px 0;
}

.coachings h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-secondary);
}

.coachings h3 {
    text-align: center;
    color: var(--color-secondary);
}

.description {
    text-align: justify;
}
.description button {
    margin-bottom: 50px;
}

.description div {
    text-align: center;
}

.coachings ul {
    text-align: center;
    padding: 1em;
}

.card ul {
    border-bottom: var(--color-secondary);
    border: thin solid var(--color-secondary);
    margin: 0;
}

.icon {
    display: none;
}

.icon .fa-solid {
    border: none;
    padding: 5px;
    margin: 0;

}

.icon_detail li {
    text-align: left;
}

/* *****************************************************************
COACHING
***************************************************************** */



.coaching h4 {
    color: var(--color-secondary);
    margin: 6px;
    font-weight: bold;
}

.one_program h2 {
    color: var(--color-secondary);
    text-align: center;

}

.program {
    border: thin solid var(--color-secondary);
}

.video_coach {
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    display: none;
}

.one_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    margin-bottom: 16px;
    background-color: var(--color-background);
}

.one_title h2 {
    color: var(--color-secondary);
}

.one_coaching {
    text-align: center;
    margin-bottom: 16px;
}

.one_coaching button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.price p {
    line-height: 0.5
}

.btn_c {
    display: flex;
    justify-content: center;
}

/* *****************************************************************
**************************VERSION TABLETTE****************************      			
***************************************************************** */

@media screen and (min-width: 768px) {

    /* coachings */

    .card {
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
        margin-left: 0;
    }

    .icon {
        display: block;
        text-align: center;
        background-color: var(--color-background);
    }

    .icon>li {
        padding: 16px;
        margin-top: 16px;
    }

    .block {
        display: flex;
    }

    .details {
        margin-left: 0;
        margin-bottom: 48px;
    }

    .coachings h3 {
        text-align: left;
    }

    .coachings h3:first-child {
        margin-top: 0;
    }

    /* coaching */

    .video_coach {
        display: block;
    }

    .one_title {
        justify-content: space-between;
        background-color: transparent;
    }

    .one_title {
        background-size: 50%;
        background-position: right top;
        background-repeat: no-repeat;
        text-align: left;
    }

    .one_title article {
        margin-left: 48px;
        margin-top: 80px;
    }

}